@charset "UTF-8";
/*=====STYLE=====*/
/*=====COLORS====*/
/*=====FONTS====*/
/*=====PAGE NEWS====*/
.category-list .card {
  height: 450px;
  overflow: hidden;
}

.category-list .card-picture {
  width: 100%;
  height: 350px;
}

/* Animation Button*/
.card-button button {
  background: white;
  color: #2cb188;
  border: none;
  position: relative;
  height: 30px;
  font-size: 1.2em;
  padding: 0 2em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
}

.card-button button:hover {
  background: #2cb188;
  color: white;
}

.card-button button:before, .card-button button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.card-button button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.card-button button:hover:before, .card-button button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

.article-list {
  width: 90%;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: #2cb188;
  margin: 0px auto 20px;
  padding: 10px 20px;
  /*Bouton Lire la Suite */
  /*Bouton Catégorie */
}

.article-list p {
  font-size: 1.4em;
}

.article-list .read-more {
  border: 3px solid #435259;
  color: #24313c;
  font: 12px;
  padding: 10px;
  font-weight: 600;
  max-width: 150px;
  /* max width of button */
  display: block;
  text-align: left;
  margin: 20px 19px 0px auto;
  position: relative;
}

.article-list .read-more:before {
  content: ">>";
  position: absolute;
  right: -21px;
  top: -3px;
  border-radius: 100%;
  background: #24313c;
  color: #fff;
  font-size: 20px;
  width: 41px;
  height: 41px;
  line-height: 39px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.article-list .read-more:hover:before {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.article-list .read-more:hover {
  background: transparent;
  border-color: #24313c;
  color: white;
  letter-spacing: 3px;
}

.article-list .category-btn {
  font-size: 1em;
  font-weight: bold;
  color: #24313c;
  padding: 8px;
  background-color: grey;
  border-radius: 12px;
  border: 1.5px solid #24313c;
}

.article-list .entraide {
  background-color: #dcf1e7;
}

.article-list .association {
  background-color: #2eb29c;
}

.article-list .information {
  background-color: #46806E;
}

.article-list .bénévolat {
  background-color: #32c1ad;
}

.article-list .dons {
  background-color: #6cd6c8;
}

.article-list .manifestation {
  background-color: #ace8e0;
}

.article-list .évènement {
  background-color: #c7efe7;
}

.article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #24313c;
}

.article .detail {
  margin: auto;
  width: 40%;
}

.article .img-mini {
  width: 20%;
  margin: auto;
}

.article .img-mini img {
  width: 150%;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.article .img-mini img:hover {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.article .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article .categories .category-btn {
  margin: 5px;
}

.header-article {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #24313c;
}

/******MOBILE******/
@media (max-width: 767px) {
  .article-list {
    text-align: center;
  }
  .article-list .read-more {
    margin: 17px auto 0px auto;
  }
  .header-article {
    font-size: 0.8em;
  }
  .article {
    width: 100%;
    display: block;
  }
  .article .detail {
    margin: auto;
    width: 100%;
  }
  .article .img-mini {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .article-list {
    text-align: center;
  }
  .article-list .read-more {
    margin: 25px auto 0px auto;
  }
  .article {
    width: 100%;
    display: block;
  }
  .article .detail {
    margin: auto;
    width: 100%;
  }
  .article .img-mini {
    width: 100%;
    margin: auto;
  }
  .article .img-mini img {
    width: 90%;
  }
  .detail {
    width: 100%;
  }
}
/*# sourceMappingURL=news.css.map */