{# Start about Us Section #}
<div class="about-us">
    <h1>Qui sommes nous ?</h1>
    <p> Nous souhaitons proposer un espace d'entraide pour les associations ainsi que pour les particuliers.</p>
    <p>Notre volonté est de permettre a tout les passionnés d'animaux d'avoir un espace de partage et d'entraide complet et gratuit.</p>
    <p>En tant qu'utilisateur du site vous pouvez consulter la carte, effectuer des signalements si vous avez
        perdu ou trouvé un animal, et publier des articles au sujet de la cause animal.
    </p>
    <p>En tant qu'association vous pourrez partager des articles au sujet de vos manifestations, actions, ou
        évènements.
    </p>
</div>
{# End about Us Section #}
