
<!-- Start Animal Section -->
<div class="animal-section">
    <h1> <i class="fas fa-bell"></i> Les derniers animaux signalés</h1>
    <div class="polaroids mini">
        <a href="link" title="Népal">
            <img src="../images/nepal.jpg" alt="Népal" />
            <p>Chien perdu a Dijon (Bourgogne)</p>
        </a>
        <a href="link" title="Népal">
            <img src="../images/nepal.jpg" alt="Népal" />
            <p>Chien perdu a Dijon (Bourgogne)</p>
        </a>
        <a href="link" title="Népal">
            <img src="../images/LogoRond.png" alt="Népal" />
            <p>Chien perdu a Dijon (Bourgogne)</p>

        </a>
        <a href="link" title="Népal">
            <img src="../images/nepal.jpg" alt="Népal" />
            <p>Chien perdu a Dijon (Bourgogne)</p>
        </a>
    </div>
</div>
<!-- End Animal Section -->