.polaroids {

  img {
    border-radius: 10px;
    width: 100%;
  }
    a {
    background: white;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 10px 25px 10px;
    margin: 0 0 27px 30px;
    width: 16%;
    color: #8B8B8B;
    border-radius: 10px;

  }
}
.mini{
  a {
    background: white;
    display: inline-block;
    text-decoration: none;
    // font-size: 1em;
    // padding: 10px 10px 25px 10px;
    margin: auto 12px;
    width: 17%;
    // height: 350px;
    color: #8B8B8B;
    border-radius: 10px;
  }
}
@media (max-width:768px){

  .mini{
    a {
      padding: 5px 5px 15px 5px;
      margin:12px 12px;
      width: 40%;
    }
  }
  .polaroids {
      a {
      // background: white;
      // display: inline-block;
      // text-decoration: none;
      // font-size: 1em;
      padding: 5px 5px 15px 5px;
      margin:12px 12px;
      width: 40%;
      // color: #8B8B8B;
      // border-radius: 10px;
  
    }
  }
}

