$green : #2cb188;
$darkgrey : #435259;
$darkergrey : #24313c;

.polaroids {

  img {
    border-radius: 10px;
    width: 100%;
  }
    a {
    background: white;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 10px 25px 10px;
    // margin: 0 0 27px 30px;
    width: 60%;
    color: $darkergrey ;
    border-radius: 10px;

  }
}
.mini{
  a {
    background: white;
    display: inline-block;
    text-decoration: none;
    // font-size: 1em;
    // padding: 10px 10px 25px 10px;
    margin: auto 12px;
    width: 17%;
    // height: 350px;
    color: #8B8B8B;
    border-radius: 10px;
  }
}

@media (max-width:767px){

  .mini{
    a {
      padding: 5px 5px 15px 5px;
      margin:12px 12px;
      width: 40%;
    }
  }
  .polaroids {
      a {
      padding: 5px 5px 15px 5px;
      // margin:12px 12px;
      width: 60%;
    }
  }
}

@media (min-width:768px)and (max-width:1280px){

}
