$green : #2cb188;
$darkgrey : #435259;
$darkergrey : #24313c;



.polaroids {

  .card {
    background: white;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    text-decoration: none;
    // margin: auto 12px;
    width: 90%;
    color: #8B8B8B;
    border-radius: 10px;
    
    .card-picture{
      overflow:hidden;
      // background-color: yellow;
      display: flex;
  
      img{
        width:400px;
        height:400px;
        display: block;
        margin-left: auto;
        margin-right: auto


      }
    }
  /* Animation Button*/
    button{
      background:$green;
      color: white;
      border:none;
      position:relative;
      height:30px;
      font-size:1.2em;
      padding:0 2em;
      border-radius: 5px;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
    }
    button:hover{
      background:white;
      color:$green;
    }
    button:before,button:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: $green;
      transition:400ms ease all;
    }
    button:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    button:hover:before,button:hover:after{
      width:100%;
      transition:800ms ease all;
    }
    

  }
}








@media (max-width:767px){

  // .polaroids {
  //   .card {
  //     padding: 10px 10px 10px 10px;
  //     display: inline-block;
  //     text-decoration: none;
  //     margin: auto 12px;
  //     width: 80%;
  //     color: #8B8B8B;
  //     border-radius: 10px;

  //   }
  // }
}

@media (min-width:768px)and (max-width:1280px){

}
