@import "polaroid.scss";
// @import "diaporama.scss";


$green : #2cb188;
$darkgrey : #435259;
$darkergrey : #24313c;
$fontheader :'Pacifico', cursive;
$font: 'Roboto', sans-serif;


body{
    background-color: $darkergrey;
    font-family: $font;
}
a{
    text-decoration: none;
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $fontheader;
    color: $green;

    a{
        color:$green;
        &:hover{
            color:white;
            cursor: pointer;
        }
    }

    li{
        list-style:none;
        display: inline;
        padding: 10px;
        padding-top: 20px;
        a {
            position: relative;
            text-decoration: none;
            color:$green;
          }
        a::after {
        content: '';
        text-decoration: none;
        transform-origin: 0 0; 
        transform: scaleX(0);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px; 
        background:$green;
        z-index: -1;
        opacity: 0.8;
        transition: transform .3s;
        }
        a:hover::after {
        transform: scaleX(1);
        }
    }
    .nav{
        font-size: 1.5em;
    }
    .login{
        font-size: 1.2em;
        // text-align: right;
        li{
            a{
                color:white;
            }
            a::after {
                background:white;
            }
        }
    }
}
/*BANNER*/
.banner{
    width:100%;
    height:500px;
    font-family: $fontheader;
    background-image: url("../images/banner/homepage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color:#f7fbfe;
    background-size: 60%;
    // background-size: 1200px;

    color: $darkergrey;
    border-radius: 20px;
    opacity:0.8;
    display: flex;
    align-items: center;
    .empty{
        width:60% ;
        background-color: rgb(8, 67, 87);
    }
    .bannertext{
        width:35% ;
        height: 25%;
        background-color: $green ;
        text-align: center;
        border-radius: 30px;
        margin-bottom: 5%;
        h1{
            font-size: 2em;
        }
        .btn{
            font-size: 1.5em;
            background-color:$darkergrey;
            color: #f7fbfe;
            padding: 15px;
            border-radius: 20px;
            text-decoration: none;

            &:hover{
                color:$darkgrey;
                background-color:#f7fbfe;
                border: 2px solid $green ;
                cursor: pointer;
            }
        }
    }
}

/*Interligne Animaux */
.animals{
    margin: 20px auto;
    display: flex;
    text-align: center;
    font-size: 2em;
    color: $green;
    .line {
        border: 2px solid $green;
        margin: auto;
        width :45%;
    }
    .fas{
        padding:2px;
    }
}

/*AboutUS*/
.about-us{
    width:100%;
    height:300px;
    padding-top: 1px;
    background-image: url("../images/aboutus/pattes2.png");
    background-repeat: no-repeat;
    background-position: 0% 80%;
    background-color:$darkgrey;
    color: $darkergrey;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    h1{
        font-size :1.5em;
        color: $green;
    }
    p{
        color:#f7fbfe;
        text-align: justify;
        // margin: 10px 120px;
        margin-left: 15%;
        margin-right: 5%;

    }
}


/*AnimalSection*/
.animal-section{
    width:100%;
    height:600px;
    padding-top: 1px;
    background-color:$darkgrey;
    border-radius: 20px;
    text-align: center;
    h1{
        font-size :2em;
        color: $green;
    }


}

/*ArticleSection*/
.article-section{
    @extend .animal-section;

    .owl-nav{
        display: flex;
        justify-content: space-evenly;
    }

    .owl-theme .owl-dots, .owl-theme .owl-nav .owl-prev {
        color: $green;
      font-size: 1em;
      background: #11ffee00;;
        &:hover{
            color:white;
            background: #11ffee00;
        }
    }

    .owl-theme .owl-dots, .owl-theme .owl-nav .owl-next {
        color: $green;
      font-size: 1em;
      background: #11ffee00;;
        &:hover{
            color:white;
            background: #11ffee00;;
        }
    }
}

/*Footer*/

.footer{
    background-color: $green;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    h1{
        color: $darkergrey;
        font-size: 1.5em;
    }
    li{
        list-style:none;
    }
    a{
        text-decoration: none;
        color:$darkergrey;
        &:hover{
            color:white;
        }
    }
    .trait {
        border: 2px solid $darkergrey;
        margin: 0px auto;
        width :45%;
    }

    .social{
       li{
           display: inline;
       }
       .fab{
           font-size: 3em;
       }
    }
    form {
        padding-top: 10px;
        }
}
.credits{
    text-align: center;
    color :$green;
    span{
        color:red;
    }
}

/*FORMULAIRES*/

.form-animal{
    background-color: $green;
    width:50%;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    .form-header {
        color: white;
        background-color: $darkgrey;
        border: 3px solid white;
        border-radius: 20px;
    }

    #animal_type{
        background-color: $green;
        margin-top: 10px;
        color: white;
        width: 25%;
        border: 2px solid white;
        border-radius: 10px;
        padding: 8px;
    }
    #animal_department{
        @extend #animal_type;
    }

    input{
        background-color:$green;
        border: 3px solid white;
        border-radius: 10px;

     
    }
    input#animal_city{
        
        height: 25px;
        width:50%;
    }
    textarea {
        background-color:$green;
        border: 3px solid white;
        height: 200px;
        border-radius: 10px;
        width:50%;
    }
    .low-page{
        // display: flex;
        background-color: blue;
    
        .column{

            background-color: red;
            // border: 1px solid black;
            // display: flex;
            // flex-direction: column;
            width: 60%;
            margin: 0 auto;

            .align{

                // background-color: green;
                // color:black

                
            }

        }
    }



       
}

/******MOBILE******/

@media (max-width:767px){

    /* HEADER */
    .header{
        width:100%;
        text-align: center;
        display: inline;
        position:fixed;
        background: $darkergrey;
        z-index: 8;
    
        .logo{
            font-size: 1.8em;
            margin: 0px;
        }
        .button{
            font-size: 1.2em;
            margin-left:30px;
        }
    
    #responsive-nav{
        display: none;
        font-size: 0.8em;
    }
    
        
    }

    /*BANNER*/
    .banner{
        height:480px;
        background-size: 500px;
        align-items: column;
        justify-content: center;
        .empty{
            display: none;
        }
        .bannertext{
            //    display: none;
            width:75% ;
            height: 15%;
            font-size: 10px;
            border-radius: 20px;
            padding-bottom: 25px;
        }
    }

    /*AboutUS*/
    .about-us{
        height:30%;
        padding-top: 1px;
        background-position: -12% 60%;
        background-size: 150px;
        font-size: 1.2em;
        h1{
            font-size :1.8em;
            margin-left: 15%;
            margin-right: 5%;
        }
        p{    
            margin-left: 25%;
            padding-bottom: 20px;
        }
    }

    /*AnimalSection*/
    .animal-section{
        height:40%;
        h1{
            font-size :1.5em;
        }
    }
    /*ArticleSection*/
    .article-section{
        height:40%;
        h1{
            font-size :1.5em;
        }
    }
    
    /*Footer*/

    .footer{
        text-align: center;
        h1{
            font-size: 1em;
            font-weight: bold;
        }

        .trait {
        display: none;
        }

        .social{
        .fab{
            font-size: 3em;
        }
        }
        .newsletter{
            display: none;
        }
    }
  
}


/******TABLET*****/

@media (min-width:768px)and (max-width:1280px){
    header{
        .button{
            display: none;
        }
    }
    .banner{

        height:400px;
        background-size: 80%;
        .bannertext{
            font-size: 10px;
            padding-bottom: 25px;
        }
    }

    /*AboutUS*/
    .about-us{
        height:400px;
        background-position: 0% 60%;
        background-size: 180px;
        font-size: 1.4em;
        p{    
            margin-left: 25%;
            padding-bottom: 20px;
        }
    }

    /*AnimalSection*/
    .animal-section{
        height:500px;
        font-size: 1.2em;
    }

    /*ArticleSection*/
    .article-section{
        height:500px;
        font-size: 1.2em;
    }

}
@media (min-width:1280px){
    header{
        .button{
            display: none;
        }
    }

}

// viewports
// Desktop
// 1600x992px scaled down to scale(0.3181)
// Laptop
// 1280x802px scaled down to scale(0.277)
// Tablet
// 768x1024px scaled down to scale(0.219)
// Mobile
// 320x480px scaled down to scale(0.219)
// IPHONE 10 375 x 812




