.polaroids img {
  border-radius: 10px;
  width: 100%;
}

.polaroids a {
  background: white;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 10px 25px 10px;
  width: 60%;
  color: #24313c;
  border-radius: 10px;
}

.mini a {
  background: white;
  display: inline-block;
  text-decoration: none;
  margin: auto 12px;
  width: 17%;
  color: #8B8B8B;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .mini a {
    padding: 5px 5px 15px 5px;
    margin: 12px 12px;
    width: 40%;
  }
  .polaroids a {
    padding: 5px 5px 15px 5px;
    width: 60%;
  }
}

body {
  background-color: #24313c;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Pacifico", cursive;
  color: #2cb188;
}

.header a {
  color: #2cb188;
}

.header a:hover {
  color: white;
  cursor: pointer;
}

.header li {
  list-style: none;
  display: inline;
  padding: 10px;
  padding-top: 20px;
}

.header li a {
  position: relative;
  text-decoration: none;
  color: #2cb188;
}

.header li a::after {
  content: '';
  text-decoration: none;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #2cb188;
  z-index: -1;
  opacity: 0.8;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .nav {
  font-size: 1.5em;
}

.header .login {
  font-size: 1.2em;
}

.header .login li a {
  color: white;
}

.header .login li a::after {
  background: white;
}

.header .flashmessage {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #dd6336;
}

/*BANNER*/
.banner {
  width: 100%;
  height: 500px;
  font-family: "Pacifico", cursive;
  background-image: url("../images/banner/homepage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #f7fbfe;
  background-size: 60%;
  color: #24313c;
  border-radius: 20px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .empty {
  width: 60%;
  background-color: #084357;
}

.banner .bannertext {
  width: 35%;
  height: 25%;
  background-color: #2cb188;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 5%;
}

.banner .bannertext h1 {
  font-size: 2em;
}

.banner .bannertext .btn {
  font-size: 1.5em;
  background-color: #24313c;
  color: #f7fbfe;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
}

.banner .bannertext .btn:hover {
  color: #435259;
  background-color: #f7fbfe;
  border: 2px solid #2cb188;
  cursor: pointer;
}

/*Interligne Animaux */
.animals {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 2em;
  color: #2cb188;
}

.animals .line {
  border: 2px solid #2cb188;
  margin: auto;
  width: 45%;
}

.animals .fas {
  padding: 2px;
}

/*AboutUS*/
.about-us {
  width: 100%;
  height: 300px;
  padding-top: 1px;
  background-image: url("../images/aboutus/pattes2.png");
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-color: #435259;
  color: #24313c;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5em;
}

.about-us h1 {
  font-size: 1.5em;
  color: #2cb188;
}

.about-us p {
  color: #f7fbfe;
  text-align: justify;
  margin-left: 15%;
  margin-right: 5%;
}

/*AnimalSection*/
.animal-section, .article-section {
  width: 100%;
  height: 600px;
  padding-top: 1px;
  background-color: #435259;
  border-radius: 20px;
  text-align: center;
}

.animal-section h1, .article-section h1 {
  font-size: 2em;
  color: #2cb188;
}

/*ArticleSection*/
.article-section .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.article-section .owl-theme .owl-dots, .article-section .owl-theme .owl-nav .owl-prev {
  color: #2cb188;
  font-size: 1em;
  background: #11ffee00;
}

.article-section .owl-theme .owl-dots:hover, .article-section .owl-theme .owl-nav .owl-prev:hover {
  color: white;
  background: #11ffee00;
}

.article-section .owl-theme .owl-dots, .article-section .owl-theme .owl-nav .owl-next {
  color: #2cb188;
  font-size: 1em;
  background: #11ffee00;
}

.article-section .owl-theme .owl-dots:hover, .article-section .owl-theme .owl-nav .owl-next:hover {
  color: white;
  background: #11ffee00;
}

/*Footer*/
.footer {
  background-color: #2cb188;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer h1 {
  color: #24313c;
  font-size: 1.5em;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #24313c;
}

.footer a:hover {
  color: white;
}

.footer .trait {
  border: 2px solid #24313c;
  margin: 0px auto;
  width: 45%;
}

.footer .social li {
  display: inline;
}

.footer .social .fab {
  font-size: 3em;
}

.footer form {
  padding-top: 10px;
}

.credits {
  text-align: center;
  color: #2cb188;
}

.credits span {
  color: red;
}

/*FORMULAIRES*/
p {
  font-weight: bold;
}

.instruction {
  color: #bd4646;
}

a.connexion {
  color: #435259;
}

a.connexion:hover {
  color: white;
}

::-webkit-input-placeholder {
  color: #435259;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

:-ms-input-placeholder {
  color: #435259;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

::-ms-input-placeholder {
  color: #435259;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

::placeholder {
  color: #435259;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

.form {
  background-color: #2cb188;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .form-header {
  color: white;
  background-color: #435259;
  border: 3px solid white;
  border-radius: 20px;
}

.form #animal_type, .form #animal_department {
  background-color: #2cb188;
  margin-top: 10px;
  color: white;
  width: 25%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px;
  text-transform: capitalize;
}

.form input {
  background-color: #2cb188;
  border: 3px solid white;
  border-radius: 10px;
  height: 25px;
  width: 50%;
  font-size: 1em;
  text-align: center;
}

.form div#animal_identification input, .form div#animal_status input, .form div#animal_sex input {
  height: 15px;
  width: 20px;
}

.form button#animal_envoyer, .form button#article_envoyer, .form button#user_enregistrer, .form button#connect {
  background-color: #24313c;
  color: white;
  width: 20%;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.form button#animal_envoyer:hover, .form button#article_envoyer:hover, .form button#user_enregistrer:hover, .form button#connect:hover {
  background-color: #435259;
}

.form button#user_enregistrer, .form button#connect {
  margin-top: 20px;
}

.form textarea, .form .column {
  background-color: #2cb188;
  border: 3px solid white;
  height: 200px;
  border-radius: 10px;
  width: 50%;
}

.form .column {
  margin: 0 auto;
  height: 80px;
  margin-top: 10px;
}

.form div#article_categories {
  padding: 25px;
}

.form div#article_categories input {
  height: 20px;
  width: 20px;
}

.form div#article_categories label {
  font-size: 20px;
  text-transform: capitalize;
  padding-right: 10px;
}

/******MOBILE******/
@media (max-width: 767px) {
  /* HEADER */
  .header {
    width: 100%;
    text-align: center;
    display: inline;
    position: fixed;
    background: #24313c;
    z-index: 8;
  }
  .header .logo {
    font-size: 1.8em;
    margin: 0px;
  }
  .header .button {
    font-size: 1.2em;
    margin-left: 30px;
  }
  .header #responsive-nav {
    display: none;
    font-size: 0.8em;
  }
  /*BANNER*/
  .banner {
    height: 480px;
    background-size: 500px;
    -webkit-box-align: column;
        -ms-flex-align: column;
            align-items: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .empty {
    display: none;
  }
  .banner .bannertext {
    width: 75%;
    height: 15%;
    font-size: 10px;
    border-radius: 20px;
    padding-bottom: 25px;
  }
  /*AboutUS*/
  .about-us {
    height: 30%;
    padding-top: 1px;
    background-position: -12% 60%;
    background-size: 150px;
    font-size: 1.2em;
  }
  .about-us h1 {
    font-size: 1.8em;
    margin-left: 15%;
    margin-right: 5%;
  }
  .about-us p {
    margin-left: 25%;
    padding-bottom: 20px;
  }
  /*AnimalSection*/
  .animal-section, .article-section {
    height: 40%;
  }
  .animal-section h1, .article-section h1 {
    font-size: 1.5em;
  }
  /*ArticleSection*/
  .article-section {
    height: 40%;
  }
  .article-section h1 {
    font-size: 1.5em;
  }
  /*Footer*/
  .footer {
    text-align: center;
  }
  .footer h1 {
    font-size: 1em;
    font-weight: bold;
  }
  .footer .trait {
    display: none;
  }
  .footer .social .fab {
    font-size: 3em;
  }
  .footer .newsletter {
    display: none;
  }
  /*FORMULAIRES*/
  .form {
    width: 90%;
  }
  .form #animal_type, .form #animal_department {
    width: 50%;
  }
  .form input {
    height: 35px;
    width: 80%;
  }
  .form div#animal_identification input, .form div#animal_status input, .form div#animal_sex input {
    height: 15px;
    width: 20px;
  }
  .form button#animal_envoyer, .form button#article_envoyer, .form button#user_enregistrer, .form button#connect {
    width: 40%;
  }
  .form textarea, .form .column {
    height: 200px;
    width: 80%;
  }
  .form .column {
    height: 100px;
  }
}

/******TABLET*****/
@media (min-width: 768px) and (max-width: 1280px) {
  body {
    background-color: red;
  }
  header .button {
    display: none;
  }
  .banner {
    height: 400px;
    background-size: 80%;
  }
  .banner .bannertext {
    font-size: 10px;
    padding-bottom: 25px;
  }
  /*AboutUS*/
  .about-us {
    height: 400px;
    background-position: 0% 60%;
    background-size: 180px;
    font-size: 1.4em;
  }
  .about-us p {
    margin-left: 25%;
    padding-bottom: 20px;
  }
  /*AnimalSection*/
  .animal-section, .article-section {
    height: 500px;
    font-size: 1.2em;
  }
  /*ArticleSection*/
  .article-section {
    height: 500px;
    font-size: 1.2em;
  }
  /*FORMULAIRES*/
  .form {
    width: 80%;
  }
  .form #animal_type, .form #animal_department {
    width: 50%;
  }
  .form input {
    height: 35px;
    width: 80%;
  }
  .form div#animal_identification input, .form div#animal_status input, .form div#animal_sex input {
    height: 15px;
    width: 20px;
  }
  .form button#animal_envoyer, .form button#article_envoyer, .form button#user_enregistrer, .form button#connect {
    width: 40%;
  }
  .form textarea, .form .column {
    height: 200px;
    width: 80%;
  }
  .form .column {
    height: 100px;
  }
}

@media (min-width: 1280px) {
  header .button {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */