/*=====STYLE=====*/
@import "basic-style/basic-style.scss";

/*=====BASE=====*/
@import "base/header/header.scss";
@import "base/banner/banner.scss";
@import "base/interligne/interligne-animals.scss";
@import "base/polaroid/polaroid.scss";
@import "base/footer/footer.scss";
@import "base/dropdown/dropdown.scss";


/*=====PAGES=====*/
@import "pages/map/map.scss";
@import "pages/contact/contact.scss";
@import "pages/news/news.scss";
@import "pages/solo/solo-animal.scss";
@import "pages/solo/solo-article.scss";
@import "pages/animal_with_filters/animal_with_filters.scss";
@import "pages/admin/admin.scss";


/*=====PARTS=====*/
@import "pages/section.scss";
@import "pages/about_us.scss";



/*=====FORMS=====*/
@import "form/form.scss";

/*=====RESPONSIVE=====*/
@import "responsive/mobile.scss";
@import "responsive/tablet.scss";
@import "responsive/desktop.scss";


body{
    background-color: $darkergrey;
    font-family: $font;
}

a{
    text-decoration: none;
}

.interligne{
    border: 2px solid $darkergrey;
    margin: auto;
    width :10%;
}

.title-top-page{
    font-size:3em;
}


input:focus {
    outline:none;
} 

/* Page Fond Blanc */
.basic-style-page{
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
}

/* Boutons CRUD */
.interaction{
    font-size:0.8em;
    a{
        color:$darkergrey;
    }
}

/* Flash Message  */
#flashmessage{
  padding: 10px;
  border-radius: 10px;
  font-size: 1.4em;
  color:$darkergrey;
  background-color:$green;
  cursor: pointer;
  .fas {
    font-size: 1.6em;
  }
}

/* Previous Page   */

.previous-page{
    margin-left: 3%;
    margin-bottom: 2%;
    font-weight: bold;
    a{
        font-size: 1.5em;
        color: $green;
        transition:800ms ease all;
        &:hover{
            color: white;
        }
    }
}

/*Pagination */

.pagination {
    span{
        font-size: 2em;
        text-align: center;
        a{
            color : $darkergrey;
                padding: 10px;
            }
    }
}



