<!-- start Banner -->
<div class="banner">
    <div class="empty"></div>
    <div class="bannertext">
        <h1>Vous avez perdu ou trouvé un animal?</h1>
        <a class="btn" href="">S'incrire pour faire un signalement</a>
    </div>
</div>
<!-- End banner  -->