<!-- start Banner -->
<div class="banner">
<div class="right-content">
	<div class="banner-content">
		<h2>Vous avez perdu ou trouvé un animal ?</h2>
        <div class="banner-btn">
            <a href="">
                <button class="btn" type="button">
                    S'inscrire pour faire un signalement
                </button>
            </a>
            <a href="">
            <button class="btn" type="button">
                Accéder a la carte
            </button>
            </a>
        </div>
	</div>
</div>
</div>
<!-- End banner  -->
