   </main>
</body>

{# Start Footer  #}
<footer>
    <div class="footer">
        <div class="quick-links">
            <h1>Liens rapides</h1>
            <div class="trait"></div>
            <ul>
                <li><a href=" {{ path("homepage") }}">Accueil</a></li>
                <li><a href="">Carte</a></li>
                <li><a href="{{ path("news") }}">News</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Associations</a></li>
            </ul>
        </div>
        <div class="contact">
            <h1>Nous contacter</h1>
            <div class="trait"></div>
            <p><a href="mailto:espoirsurpattes@gmail.com">espoirsurpattes@gmail.com</a></p>
            <div class="social">
                <ul>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="newsletter">
            <h1>Newsletter</h1>
            <div class="trait"></div>
            <form>
                <input type="text" id="mail" name="mail" placeholder="Adresse mail"><i
                    class="fas fa-arrow-alt-circle-right"></i>
            </form>
        </div>
    </div>
    <div class="credits">
        <p>Made with <span> &#9829;</span> by MC © EspoirSurPattes Theme</p>
    </div>

</footer>
{# End Footer  #}
