<header>
    <div class="header">
        <h1 class="logo"><a href="{{ path('homepage') }}"><i class="fas fa-home"></i> Espoir sur Pattes <i class="fas fa-paw"></i></a><a
                class="button"><i class="fas fa-bars"></i></a></h1>
        <div id="responsive-nav" class="closeMenu">
            <div class="nav links">
                <nav>
                    <li><a href="">Carte</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Associations</a></li>
                </nav>
            </div>
            <div class="nav login">
                <nav>
                    <li><a href="">Connexion</a></li>
                    <li><a href="">Inscription</a></li>
                </nav>
            </div>
        </div>
    </div>
</header>

<body>
    <main>