<!-- Start Interline Animals -->
<div class="animals">
    <p>
        <div class="line"></div>
        <i class="fas fa-cat"></i>
        <i class="fas fa-crow"></i>
        <i class="fas fa-dog"></i>
        <div class="line"></div>
    </p>
</div>
<!-- End Interline Animals -->