<div class="previous-page">
<a href="{{app.request.headers.get('referer')}}"><i class="far fa-arrow-alt-circle-left"></i> Page précécente</a>
</div>


{# {% include 'include/back_to_last_page.html.twig' %} #}