/*=====COLORS====*/
$green : #2cb188;
$darkgrey : #435259;
$darkergrey : #24313c;


/*=====FONTS====*/
$fontheader :'Pacifico', cursive;
// $font: 'Roboto', sans-serif;
// $font: 'Raleway', sans-serif;
$font: 'Dosis', sans-serif;