<!-- start Banner -->
<div class="banner-map">
<div class="right-content">
	<div class="banner-content">
		<h2>Vous avez perdu ou trouvé un animal ?</h2>
        <div class="banner-btn">
            {% if app.user == false %}
            <a href="{{ path('create_account') }}">
                <button class="btn" type="button">
                    S'inscrire pour faire un signalement
                </button>
            </a>
            {% endif %}
            {% if app.user %}
            <a href="{{ path('animal_create') }}">
                <button class="btn" type="button">
                    Faire un signalement
                </button>
            </a>
            {% endif %}
        </div>
	</div>
</div>
</div>
<!-- End banner  -->