<!-- start Banner -->
<div class="banner-news">
<div class="right-content">
	<div class="banner-content">
		<h2>Vous souhaitez partager un article ?</h2>
        <div class="banner-btn">
            {% if app.user == false %}
            <a href="{{ path('create_account') }}">
                <button class="btn" type="button">
                    S'inscrire pour publier
                </button>
            </a>
            {% endif %}
            {% if app.user %}
            <a href="{{ path('article_create') }}">
                <button class="btn" type="button">
                    Publier une news
                </button>
            </a>
            {% endif %}
        </div>
	</div>
</div>
</div>
<!-- End banner  -->