/*=====HEADER====*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $fontheader;
    color: $green;
    background-color: $darkergrey;

    #responsive-nav{

        li{
            display: inline;
            list-style:none;
        }
    }

    a{
        color:$green;
        transition:800ms ease all;
        &:hover{
            color:white;
            cursor: pointer;
        }
    }

    .links{
        font-size: 1.6em;
        li{
            padding-right: 50px;
        }
    }
    .login{
        font-size: 1.2em;
        text-align: center;
        a{
            color: white;
            padding: 10px;
            &:hover{
                color:$green;
            }
        }
    }

}

/******MOBILE******/
@media (max-width:767px){

    /* HEADER */
    .header{
        // width:100%;
        text-align: center;
        display: inline;
        position:fixed;
        background: $darkergrey;
        z-index: 8;
        width: 100%;
    
        .logo{
            font-size: 1.8em;
            margin: 0px;
        }
        .button{
            font-size: 1.2em;
            margin-left:30px;
        }
    
    #responsive-nav{
        display: none;
        font-size: 0.9em;
    }
        
    }
}
/******TABLET*****/
@media (min-width:768px)and (max-width:1280px){


    .header{
        .button{
            display: none;
        }
        .links{
        font-size: 1.3em;
            li{
                padding-right: 15px;
            }
        }
    }
}