/******MOBILE******/

@media (max-width:767px){



    /*Section*/
    .section{
        height:40%;
        h1{
            font-size :1.5em;
        }
        .intro-card{
            width: 100%;
            flex-direction: column;
            .card-access{
                font-size :1em;
                margin:10px auto;
                padding: 10px;
            }
        }
    }
    
    /*Footer*/

    .footer{
        text-align: center;
        h1{
            font-size: 1em;
            font-weight: bold;
        }

        .trait {
        display: none;
        }

        .social{
        .fab{
            font-size: 3em;
        }
        }
        .newsletter{
            display: none;
        }
    }
  
}